.newAnalysis{
   // background: #242124;
   height: 100%;

   &__title{
      color: #f1f1f1;
      font-size: 26px;
      font-weight: 600;
      margin: 0px 0px 20px 0px;
   }

   &__main{
      display: flex;
      justify-content: space-between;
      gap: 40px;
      height: 100%;
   }

   &__left{
      
   }

   &__submit{
      
   }
}